@model BugTracker.Models.AssignTicketViewModel
<link rel="stylesheet" href="~/Content/bootstrap-select/bootstrap-select.css" />
@{
    ViewBag.Title = "AssignTicket";
}


<div class="container">
    <h2> Assign Ticket </h2>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"> @Model.Ticket.Title</h3>
                </div>
            </div>
                       

                         <form action="AssignTicket" method="Post" class="form-horizontal">
                                @Html.HiddenFor(m => m.User.Id, new { })
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-9">
                                        @Html.ListBox("SelectedRoles", Model.Roles, htmlAttributes: new { @class = "selectpicker" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-9">
                                        <button type="submit" class="btn-u btn-u-green">Assign Roles</button>
                                    </div>
                                </div>
                            </form>
                        
            
        </div>
        <!--End Hover Rows-->
    </div>
    <div>
        @Html.ActionLink("Back to List", "Users")
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/bootstrap-select/bootstrap-select.js"></script>
    <script>
    $(function(){
    $('.selectpicker').selectpicker();
    })
    </script>
}