body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mrgn-1 {
    margin: 1em;
}

.mrgn-2 {
    margin: 2em;
}

.mrgn-bt-half {
    margin-bottom: .5em;
}

.brdr
{
    padding: 5em;
}

.cntr{
    margin-left: 50%;
    margin-top: 50%;
}

.rel{
    position: relative;
   
}

.abs{
    position: absolute;
    top: 4em;
    left: 4em;
}