@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<!-- Social Links -->
<div class="headline"><h2>Stay Connected</h2></div>
<ul class="social-icons">
    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
</ul>
<!-- End Social Links -->