@using BugTracker.Models
@using Microsoft.AspNet.Identity

            
            

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h2> Welcome to Bug Tracker - Your Project Issues Manager.</h2>
    
    <img style="margin :100px 200px" src="~/assets/img/bug.jpg" alt="Issue Tracker">
</div>
                    
    
    
